* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 1em/1.4 system-ui, sans-serif;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.view {
    --grow: 1;
    
    display: flex;
    flex: var(--grow) 0 0;
    overflow: hidden;

    & > .splitter {
        /* Vertical splitters */
        flex: 0 0 8px;
        touch-action: none;
        cursor: ew-resize;
        transition: background-color 0.24s;
        background-color: #aaa;

        /* Remove splitter if not followed by a view */
        &:not(:has(+.view)) {
            display: none;
        }

        &:hover {
            background-color: #0bf;
        }
    }

    &.col {
        flex-direction: column;

        & > .splitter {
            /* Horizontal splitters */
            cursor: ns-resize;
        }
    }
}
